'.source.js':
    'lookupReference':
        'prefix': 'lr'
        'body': "lookupReference('$1')$2"
    'Define':
        'prefix': 'define'
        'body': """
            Ext.define(\'$1\', {
                extend: \'$2\'
            });
        """
    'Create':
        'prefix': 'create'
        'body': """
            Ext.create(\'$1\', {$2})
            $3
        """
